@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(15, 15, 15);
  --bg-secondary: rgb(30, 30, 30);
  --bg-tertiary: rgb(45, 45, 45);

  --accent: #ce3a3a;
}

body {
  background-color: var(--bg-primary);
  color: var(--accent);
  font-family: monsospace;
  font-weight: bolder;

  margin: 8px;
}

pre {
  font-family: monospace;
  white-space: pre;

  line-height: 1.156;
  margin: 1em 0;
}
